Source: nonraid-dkms
Section: contrib/kernel
Priority: optional
Maintainer: Matti Hiljanen <matti@hiljanen.com>
Build-Depends: debhelper (>=13.1~), dh-sequence-dkms
Standards-Version: 4.6.2.1
Homepage: https://github.com/qvr/nonraid

Package: nonraid-dkms
Section: kernel
Architecture: any
Multi-Arch: foreign
Depends: dkms (>= 2.8.7), ${misc:Depends}
Description: NonRAID driver DKMS Debian Package
